.greeting {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 160px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.greeting-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("assets/greeting-image.jpeg");

  width: auto;
  height: 450px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav {
  text-align: center;
  font-style: italic;
}

#navigation-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navigation-bar li {
  display: inline-block;
  padding: 6px;
}

html {
  background-color: rgb(242, 229, 208);
}

blockquote {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: rgb(212, 152, 74);
  font-size: 15px;
}

h2 {
  font-size: 18px;
  text-align: center;
}

h3 {
  font-size: 15px;
  margin-left: 35px;
}

article {
  font-size: 14px;
  margin-left: 2px;
  text-align: left;
}

footer {
  font-size: 10px;
  text-align: right;
}