.greeting {
  text-align: center;
  color: rgb(232, 174, 103);
}

.greeting-image {
  background-image: url("/Users/khanhhuaquang/Documents/Coding/Html/Personal-Website/DSC07383.jpeg");

  width: auto;
  height: auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav {
  text-align: center;
  font-style: italic;
}

blockquote {
  text-align: center;
  font-style: italic;
}

h2 {
  text-align: center;
}

footer {
  text-align: right;
}
